.players-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  margin: 2em 0;
  justify-content: center;
  max-width: 100%;
}

.player {
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 80% 20%;
  width: 30%;
  opacity: 0; /* For fading in function */
  transition: opacity 1s;
}

.player img {
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  color: white;
  max-height: 100%;
  max-width: 100%;
}

.socials-container {
  align-items: center;
  display: flex;
  gap: 2em;
  margin-left: 1em;
}

.player-info-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.player-ign {
  font-size: 2rem;
}

.player-name {
  font-size: 1.25rem;
}

.player-summary {
  width: 90%;
}

.socials-container a {
  color: white;
  transition: color 0.25s;
}

.socials-container a:hover {
  color: hsl(0, 0%, 70%);
}
