@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* Header Section */

.main-header {
  align-items: center;
  display: flex;
  gap: 1em;
  justify-content: space-between;
  padding: 0.5em 3em;
}

.header-links {
  display: flex;
  list-style-type: none;
}

.header-links a {
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0 1.5em;
  text-decoration: none;
}

/* Partners drop down */

.drop-down-partners-container,
.drop-down-teams-container {
  align-items: center;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  padding: 1em 0;
  position: absolute;
  transition: all 0.5s;
  width: 100%;
  z-index: 1;
}

.drop-down-partners-container img,
.drop-down-teams-container img {
  filter: brightness(0) invert(1);
  max-height: 50px;
  max-width: 100px;
  padding: 1em;
  transition: filter 0.25s;
}

.drop-down-partners-container img:hover,
.drop-down-teams-container img:hover {
  filter: brightness(0) invert(75%);
}

/* Main Hero Section */

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../../imgs/hero-background.svg) top/cover;
  color: white;
  height: 100vh;
  width: 100%;
}

.hero-text-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  gap: 1em;
  margin-top: 5em;
  text-align: center;
}

.buy-now-btn {
  background-color: black;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  padding: 1rem;
  transition: background-color 0.5s, color 0.5s;
  text-decoration: none;
}

.buy-now-btn:hover {
  background-color: white;
  color: black;
}

/* Others */

.collapsed {
  height: 0;
  padding: 0;
  z-index: 0;
}

.hidden {
  display: none;
}
