@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --main-color: white;
  --hover-links-color: hsl(0, 0%, 70%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Header Section */

.main-header {
  align-items: center;
  display: flex;
  gap: 1em;
  justify-content: space-between;
  padding: 0.5em 3em;
}

.logo {
  z-index: 10;
}

.header-links {
  display: flex;
  list-style-type: none;
}

.header-links a {
  color: var(--main-color);
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0 1.5em;
  transition: color 0.25s;
  text-decoration: none;
}

.header-links a:hover {
  color: var(--hover-links-color);
}

/* Partners drop down */

.drop-down-partners-container,
.drop-down-teams-container {
  align-items: center;
  background-color: black;
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  gap: 5em;
  justify-content: center;
  padding: 2em 0;
  position: absolute;
  transition: all 0.5s;
  width: 100%;
  z-index: 1;
}

.drop-down-partners-container img,
.drop-down-teams-container img,
.sponsors-section img {
  filter: brightness(0) invert(1);
  max-height: 75px;
  max-width: 150px;
  transition: filter 0.25s;
}

.drop-down-partners-container img:hover,
.drop-down-teams-container img:hover,
.sponsors-section img:hover {
  filter: brightness(0) invert(70%);
}

/* Main Hero Section */

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../../imgs/hero-background.svg) top/cover;
  color: var(--main-color);
  height: 100vh;
  width: 100%;
}

.hero-text-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  gap: 1em;
  margin-top: 5em;
  text-align: center;
}

.buy-now-btn {
  background-color: black;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  color: var(--main-color);
  padding: 1rem;
  transition: background-color 0.5s, color 0.5s;
  text-decoration: none;
}

.buy-now-btn:hover {
  background-color: var(--main-color);
  color: black;
}

/* What is Moist Esports? */

.moist-esports-summary-container {
  color: gray;
  margin: auto;
  padding: 5em 0;
  text-align: center;
  width: 50%;
}

.summary-title {
  margin-bottom: 1em;
  font-size: 1.75rem;
}

.moist-esports-summary {
  font-size: 1.125rem;
}

/* Partners/Sponsors Section */

.sponsors-section {
  align-items: center;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  gap: 5em;
  justify-content: center;
  padding: 2em 0;
}

.sponsors-section img {
  max-height: 100px;
  max-width: 200px;
}

/* Footer Section */

.footer {
  background-color: black;
  padding: 2em 0;
  text-align: center;
}

.footer-socials {
  font-size: 1.5rem;
}

.footer-links-container {
  margin: 2em 0;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

.footer-socials a,
.footer-links a {
  color: var(--main-color);
  margin-right: 1em;
  transition: color 0.25s;
  text-decoration: none;
}

.footer-socials a:hover,
.footer-links a:hover {
  color: var(--hover-links-color);
}

.footer-squarespace,
.footer-squarespace a {
  color: var(--main-color);
  transition: color 0.25s;
}

.footer-squarespace a:hover {
  color: var(--hover-links-color);
}

/* Others */

.collapsed {
  opacity: 0;
  height: 0;
  margin: 0;
  padding: 0;
  z-index: 0;
}

.hidden {
  display: none;
}

/* Media Queries */
@media (max-width: 1200px) {
  .main-header {
    justify-content: center;
  }

  .header-links {
    display: none;
  }
}

@media (max-width: 1000px) {
  .logo img {
    width: 250px;
  }

  .moist-esports-summary-container {
    width: 75%;
  }

  .sponsors-section img {
    max-height: 50px;
    max-width: 100px;
  }
}

@media (max-width: 500px) {
  .main-header {
    justify-content: flex-end;
  }

  .logo img {
    width: 150px;
  }

  .moist-esports-summary-container {
    width: 95%;
  }

  .sponsors-section {
    flex-direction: column;
    gap: 2em;
  }
}

@media (max-width: 500px), (max-height: 550px) {
  .hero-text-container {
    font-size: 1.5rem;
  }

  .buy-now-btn {
    font-size: 1rem;
  }
}
